@model BlogPost
@{
    ViewData["Title"] = "Details";
    var authorName = $"{@Model.CreatedByUser?.Name} {@Model.CreatedByUser?.Surname}";
    IEnumerable<BlogPostComment> GetComments(BlogPostComment parent)
    {
        if (parent.ParentId != null)
            yield return parent;

        foreach (var item in parent.Children.SelectMany(c => GetComments(c)))
        {
            yield return item;
        }
    }
}

<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a asp-controller="Home" asp-action="index">Əsas</a></li>
                <li><a asp-action="index">Bloq</a></li>
                <li class="active">@Model.Title.Substring(0, (Model.Title.Length < 100 ? Model.Title.Length : 100))...</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Li's Main Blog Page Area -->
<div class="li-main-blog-page li-main-blog-details-page pt-60 pb-60 pb-sm-45 pb-xs-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Blog Sidebar Area -->
            <div class="col-lg-3 order-lg-2 order-2">
                <div class="li-blog-sidebar-wrapper">
                    <div class="li-blog-sidebar">
                        <div class="li-sidebar-search-form">
                            <form action="#">
                                <input type="text" class="li-search-field" placeholder="search here">
                                <button type="submit" class="li-search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="li-blog-sidebar pt-25">
                        <h4 class="li-blog-sidebar-title">Categories</h4>
                        <ul class="li-blog-archive">
                            <li><a href="#">Laptops (10)</a></li>
                            <li><a href="#">TV & Audio (08)</a></li>
                            <li><a href="#">reach (07)</a></li>
                            <li><a href="#">Smartphone (14)</a></li>
                            <li><a href="#">Cameras (10)</a></li>
                            <li><a href="#">Headphone (06)</a></li>
                            <li><a href="#">@Model.Category.Name</a></li>
                        </ul>
                    </div>
                    <div class="li-blog-sidebar">
                        <h4 class="li-blog-sidebar-title">Blog Archives</h4>
                        <ul class="li-blog-archive">
                            <li><a href="#">January (10)</a></li>
                            <li><a href="#">February (08)</a></li>
                            <li><a href="#">March (07)</a></li>
                            <li><a href="#">April (14)</a></li>
                            <li><a href="#">May (10)</a></li>
                            <li><a href="#">June (06)</a></li>
                        </ul>
                    </div>
                    <div class="li-blog-sidebar">
                        <h4 class="li-blog-sidebar-title">Son Paylasşılan</h4>
                        @await Component.InvokeAsync("RecentPosts")
                    </div>
                    <div class="li-blog-sidebar">
                        <h4 class="li-blog-sidebar-title">Tags</h4>
                        <ul class="li-blog-tags">
                            @foreach (var item in Model.TagCloud)
                            {
                                <li><a href="#">@item.Tag?.Text</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Blog Sidebar Area End Here -->
            <!-- Begin Li's Main Content Area -->
            <div class="col-lg-9 order-lg-1 order-1">
                <div class="row li-main-content">
                    <div class="col-lg-12">
                        <div class="li-blog-single-item pb-30">
                            <div class="li-blog-banner">
                                <a href="blog-details.html"><img class="img-full" src="~/uploads/images/@Model.ImagePath" alt=""></a>
                            </div>
                            <div class="li-blog-content">
                                <div class="li-blog-details">
                                    <h3 class="li-blog-heading pt-25"><a href="#">@Model.Title</a></h3>
                                    <div class="li-blog-meta">
                                        <a class="author" href="#"><i class="fa fa-user"></i>@($"{Model.CreatedByUser?.Name} {Model.CreatedByUser.Surname}")</a>
                                        <a class="comment" href="#"><i class="fa fa-comment-o"></i> @Model.Comments.Count()</a>
                                        <a class="post-time" href="#"><i class="fa fa-calendar"></i> @Model.PublishedDate?.ToString("dd MMM yyyy")</a>
                                    </div>
                                    @Html.Raw(Model.Body)
                                    @*<p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Cras pretium arcu ex.</p>
                                        <!-- Begin Blog Blockquote Area -->
                                        <div class="li-blog-blockquote">
                                        <blockquote>
                                        <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur.
                                        In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed,
                                        cursus blandit lectus. In ullamcorper sit amet ligula ut eleifend. Proin dictum
                                        tempor ligula, ac feugiat metus. Sed finibus tortor eu scelerisque scelerisque.
                                        </p>
                                        </blockquote>
                                        </div>
                                        <!-- Blog Blockquote Area End Here -->
                                        <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex.
                                        Aenean posuere libero eu augue condimentum rhoncus. Cras pretium arcu ex.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum in
                                        labore Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex.
                                        Aenean posuere libero eu augue condimentum rhoncus. Cras pretium arcu ex. Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Dolorum laborum in labore rerum Donec vitae
                                        hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue
                                        condimentum rhoncus. Cras pretium arcu ex. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dolorum laborum in labore rerum
                                        </p>*@
                                    <div class="li-tag-line">
                                        <h4>Category:</h4>
                                        <a href="#">@Model.Category?.Name</a>
                                    </div>
                                    <div class="li-blog-sharing text-center pt-30">
                                        <h4>share this post:</h4>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Begin Related Posts Section -->
                        @await Component.InvokeAsync("RelatedPosts",new {id = Model.Id})
                        <!-- Begin Li's Blog Comment Section -->
                        <div class="li-comment-section">
                            <h3>@Model.Comments.Count() comment</h3>
                            <ul>
                                @foreach (var item in Model.Comments.Where(c => c.ParentId == null))
                                {
                                    <li class="parent-comment" id="c-@item.Id" data-comment-id="@item.Id">
                                        <div class="author-avatar pt-15">
                                            <i class="fa-solid fa-user"></i>
                                        </div>
                                        <div class="comment-body pl-15">
                                            <span class="reply-btn pt-15 pt-xs-5"><a href="#" class="btn-comment-reply">cavabla</a></span>
                                            <h5 class="comment-author pt-15">@($"{item.CreatedByUser?.Name} {item.CreatedByUser?.Surname}")</h5>
                                            <div class="comment-post-date">
                                                @item.CreatedDate.ToString("d MMM, yyyy HH:mm")
                                            </div>
                                            <p>@item.Text</p>
                                        </div>
                                    </li>
                                    @foreach (var subComment in GetComments(item))
                                    {
                                        <li class="parent-comment comment-children" id="c-@subComment.Id" data-comment-id="@subComment.Id">
                                            <div class="author-avatar pt-15">
                                                <i class="fa-solid fa-user"></i>
                                            </div>
                                            <div class="comment-body pl-15">
                                                <span class="reply-btn pt-15 pt-xs-5"><a href="#" class="btn-comment-reply">cavabla</a></span>
                                                <h5 class="comment-author pt-15">@($"{subComment.CreatedByUser?.Name} {subComment.CreatedByUser?.Surname}")</h5>
                                                <div class="comment-post-date">
                                                    @subComment.CreatedDate.ToString("d MMM, yyyy HH:mm")
                                                </div>
                                                <p>@subComment.Text</p>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <!-- Li's Blog Comment Section End Here -->
                        <!-- Begin Blog comment Box Area -->
                        <div class="li-blog-comment-wrapper">
                            @*
                                <h3>leave a reply</h3>
                                <p>Your email address will not be published. Required fields are marked *</p>*@
                            <form method="post" id="replyForm">
                                <div id="replyToComment">
                                </div>
                                <div class="comment-post-box">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <input type="hidden" name="postId" value="@Model.Id" />
                                            <textarea name="Comment"
                                                      placeholder="Write a comment">
                                        </textarea>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="coment-btn pt-30 pb-xs-30 pb-sm-30 f-left">
                                                <input class="li-btn-2" type="submit" value="Paylaş">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Blog comment Box Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Li's Main Content Area End Here -->
        </div>
    </div>
</div>
<!-- Li's Main Blog Page Area End Here -->
@section addjs{
<script>
        $('.blog-related-post-active').owlCarousel({
        loop: false,
        margin: 30,
        smartSpeed: 1000,
        nav: false,
        dots: false,
        items: 2,
        responsive: {
            0: {
                items: 1,
                autoplay:true
            },
            480: {
                items: 1
            },
            768: {
                items: 2
            },
            992:{
                margin: 29,
                items: 2
            },
            1200: {
                items: 2
            }
        }
    });
    $(document).ready(function() {
        $('.btn-comment-reply').click(function(e) {
            e.preventDefault();

            $('#replyToComment').html('<a href="javascript:removeReplySelected()">&times;</a>').append($(e.currentTarget).closest('.parent-comment').clone());

            $('#replyToComment').not(".member").find(".reply-btn").remove();




            e.preventDefault();
            $('html, body').animate({
                    scrollTop: $("#replyToComment").offset().top
                }, 1000);
        });

        $('#replyForm').submit(function (e) {
            e.preventDefault();

            let formData = new FormData(e.currentTarget);
            //console.log(formData);

            let toCommentId = $('#replyToComment li.parent-comment').data('comment-id');


            if (toCommentId != null) {
                formData.set("commentId", toCommentId);
            }

            console.log(toCommentId);

            $.ajax({
                url: '@Url.Action("PostComment")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    

                },
                error: function (response) {

                    if (response.statusText=="parsererror") {
                        if (toCommentId != undefined) {
                            $(response.responseText).insertAfter($(`#c-${toCommentId}`));


                            $('#replyToComment').html('');
                            e.currentTarget.reset();
                        }
                        else {
                            $("div.li-comment-section ul").append($(response.responseText));
                        }
                    }
                    console.warn(response);
                }
            });
        });
    });


    function removeReplySelected() {
        $('#replyToComment').html('');
    }
</script>
}
@section addcss{

<style>

    #replyToComment > a {
        color: red;
        display: flex;
        justify-content: flex-end;
        font-size: 25px;
    }

    #replyToComment .parent-comment {
        display: flex;
        padding: 10px 20px;
        /*margin-bottom: 30px;*/
        border: 1px solid #e1e1e1;
    }

        #replyToComment .parent-comment .author-avatar {
            flex-basis: 70px;
        }

        #replyToComment .parent-comment .comment-body {
            flex-basis: 100%;
        }

            #replyToComment .parent-comment .comment-body .reply-btn {
                float: right;
            }

                #replyToComment .parent-comment .comment-body .reply-btn a {
                    color: #fed700;
                    font-size: 12px;
                    display: inline-block;
                    padding: 3px 15px;
                    border-radius: 20px;
                    text-transform: capitalize;
                    border: 1px solid #fed700;
                }

            #replyToComment .parent-comment .comment-body h5 {
                color: #242424;
                font-size: 14px;
                font-weight: 600;
                padding-bottom: 5px;
                text-transform: capitalize;
            }

            #replyToComment .parent-comment .comment-body .comment-post-date {
                color: #888888;
                padding-bottom: 10px;
            }




    .mtb-50 {
        margin: 50px 0;
    }
    /* 109 */
    .blog-title {
        display: block;
        font-size: 20px;
        text-transform: none;
        font-weight: 400;
        line-height: 22px;
        position: relative;
        margin-bottom: 12px;
        margin-top: 0;
    }
    /* 3300 */
    .blog-content {
        background: #fff;
    }
    /* 3304 */
    .blog-content-upper {
        padding: 30px;
    }
    /* 3308 */
    .blog-content-lower {
        border-top: 1px solid #eaeaea;
        padding: 30px;
    }
    /* 3313 */
    .blog-title {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
        position: relative;
        padding-bottom: 15px;
        display: inline-block;
    }
        /* 3322 */
        .blog-title:before {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #d1d1d1;
            content: "";
            width: 44px;
            height: 1px;
        }
        /* 3332 */
        .blog-title:hover a {
            color: #4380db;
        }
    /* 3336 */
    .blog-content-lower a:hover {
        color: #4380db;
    }
    /* 3340 */
    .blog-content-upper p {
        letter-spacing: 0.025em;
        line-height: 24px;
        padding: 10px 0 0;
    }
    /* 3346 */
    .blog-img a {
        position: relative;
        display: block;
    }
        /* 3351 */
        .blog-img a:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.15);
            opacity: 0;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }
    /* 3364 */
    .single-blog:hover .blog-img a:before {
        opacity: 1;
    }
    /* 3368 */
    .blog-area.off-white-bg .single-blog {
        margin-bottom: 30px;
    }
    /* 3372 */
    .blog-img img {
        width: 100%;
    }
    /* 3408 */
    .blog-related-post-active .single-blog {
        border: 1px solid #ebebeb;
    }
    /* 3460 */
    .blog-img.blog-single-img img {
        border: 1px solid #ebebeb;
    }
    /* 3477 */
    .blog-related-post .single-related-post {
        margin-bottom: 40px;
    }
    /* 3542 */
    .half-right {
        width: 50%;
        float: left;
        padding-left: 15px;
    }
    /* 3580 */
    .recent-post .sidebar-title {
        border-bottom: medium none;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 40px;
        padding-bottom: 5px;
        position: relative;
        text-transform: uppercase;
    }
        /* 3674 */
        .recent-post .sidebar-title:before {
            background-color: #4380db;
            bottom: -5px;
            content: "";
            height: 2px;
            left: 0;
            position: absolute;
            width: 120px;
            letter-spacing: 1px;
        }
</style>

}