@model IEnumerable<Product>

    @foreach (var item in Model)
{
    string imagePath = item.Images.FirstOrDefault(i => i.IsMain == true)?.Name;
    <tr>
        <td class="li-product-remove">
            <a class="product-remove-x" onclick="removeFromFav(@item.Id,event)">
                &times;
            </a>
        </td>
        <td class="li-product-thumbnail">
            <a href="#">
                <img class="img-wishlist" src="~/uploads/images/@imagePath" alt="">
            </a>
        </td>
        <td class="li-product-name"><a asp-controller="shop" asp-action="details" asp-route-id="@item.Id">@item.Name</a></td>
        <td class="li-product-price"><span class="amount">@item.Price</span></td>
        <td class="li-product-stock-status"><span class="in-stock">in stock</span></td>
        <td class="li-product-add-cart"><a onclick="addToBasket(event)" data-product-id="@item.Id">səbətə əlavə et</a></td>
    </tr>
}
