@model IEnumerable<Basket>

@{
    ViewData["Title"] = "Basket";
}

<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a asp-controller="home" asp-action="index">Əsas</a></li>
                <li class="active">Səbət</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-remove">Sil</th>
                                    <th class="li-product-thumbnail">Şəkil</th>
                                    <th class="cart-product-name">Marka</th>
                                    <th class="li-product-price">Qiymət</th>
                                    <th class="li-product-quantity">Say</th>
                                    <th class="li-product-subtotal">Cəm</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="basket-item-@item.ProductId">
                                        <td class="li-product-remove">
                                            <a class="product-remove-x" onclick="removeFromBasket(this,event,'@item.Product.Name');return" data-product-id="@item.ProductId" aria-remove-target=".basket-item-@item.ProductId">
                                                &times;
                                            </a>
                                        </td>
                                        <td class="li-product-thumbnail">
                                            <a target="_blank" asp-action="details" asp-route-id="@item.ProductId">
                                                <img class="img-wishlist" src="~/uploads/images/@item.Product.Images.FirstOrDefault()?.Name" alt="Li's Product Image">
                                            </a>
                                        </td>
                                        <td class="li-product-name">
                                            <a target="_blank" asp-action="details" asp-route-id="@item.ProductId">@item.Product.Name</a>
                                        </td>
                                        <td class="li-product-price"><span class="amount">@item.Product.Price.ToString("0.00₼")</span></td>
                                        <td class="quantity">
                                            @*<label>Quantity</label>*@
                                            <input class="cart-plus-minus-box" min="1" data-product-id="@item.ProductId" onchange="changeQuantity(this)" value="@item.Quantity" type="number">
                                            @* <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" data-product-id="@item.ProductId" onchange="changeQuantity(this)" value="@item.Quantity" type="number">
                                                <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                </div>*@
                                        </td>
                                        <td class="product-subtotal"><span class="amount">@((item.Product.Price * item.Quantity).ToString("0.00₼"))</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Səbət cəmi</h2>
                                <ul>
                                    <li>Cəm <span id="summary">@Model.Sum(m => m.Quantity * m.Product.Price).ToString("0.00₼")</span></li>
                                </ul>
                                <a asp-controller="Shop" asp-action="Checkout">Sifarişi rəsmiləşdir</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Shopping Cart Area End-->

