@model SearchPanelViewModel

@{
    IEnumerable<Category> GetAllChildren(Category category)
    {
        if (category.ParentId != null)
        {
            yield return category;
        }


        if (category.Children != null)
        {
            foreach (var item in category.Children.SelectMany(c => c.GetAllChildren()))
            {
                yield return item;
            }
        }


    }
}

<!--sidebar-categores-box start  -->
<div class="category-menu">
    <div class="category-heading">
        <h2 class="categories-toggle"><span>categories</span></h2>
    </div>
    <div id="cate-toggle" class="category-menu-list">
        <ul>
            @foreach (var item in Model.Categories.Where(c => c.ParentId == null))
            {
                <li class="@(@item.Children != null ? "right-menu" : "")">
                    <a data-id="@item.Id" data-entity-type="categories">
                        @item.Name
                    </a>
                    @if (item.Children != null)
                    {
                        <ul class="cat-mega-menu">
                            <li class="right-menu cat-mega-title">
                                <ul>
                                    @foreach (var subCategory in GetAllChildren(item))
                                    {
                                        <li>
                                            <a data-id="@subCategory.Id" data-entity-type="categories">
                                                @subCategory.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
</div>




<!--sidebar-categores-box end  -->
<!--sidebar-categores-box start  -->
<div class="sidebar-categores-box">
    <div class="sidebar-title">
        <h2>Filter By</h2>
    </div>
    <!-- btn-clear-all start -->
    <!-- btn-clear-all end -->
    <!-- filter-sub-area start -->
    <div class="filter-sub-area">
        <h5 class="filter-sub-titel">Brand</h5>
        <div class="categori-checkbox">
            <ul>
                @foreach (var item in Model.Brands)
                {
                    <li>
                        <a data-id="@item.Id" data-entity-type="brands">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="filter-sub-area">
        <h5 class="filter-sub-titel">Price</h5>
        <div class="categori-checkbox">
            <div id="price-range" data-price-min="@Model.Min" data-price-max="@Model.Max"></div>
        </div>
    </div>
    <!-- filter-sub-area end -->
    <!-- filter-sub-area start -->
    <div class="filter-sub-area pt-sm-10 pt-xs-10">
        <h5 class="filter-sub-titel">Novleri</h5>
        <div class="categori-checkbox">
            <ul>
                @foreach (var item in Model.Types)
                {
                    <li>
                        <a data-id="@item.Id" data-entity-type="types">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- filter-sub-area end -->
    <!-- filter-sub-area start -->
    <div class="filter-sub-area pt-sm-10 pt-xs-10">
        <h5 class="filter-sub-titel">Viscosity</h5>
        <div class="size-checkbox">
            <ul>
                @foreach (var item in Model.Viscosities)
                {
                    <li>
                        <a data-id="@item.Id" data-entity-type="viscosities">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- filter-sub-area end -->
    <!-- filter-sub-area start -->
    <div class="filter-sub-area pt-sm-10 pt-xs-10">
        <h5 class="filter-sub-titel">Liter</h5>
        <div class="color-categoriy">
            <ul>
                @foreach (var item in Model.Liters)
                {
                    <li>
                        <a data-id="@item.Id" data-entity-type="liters">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- filter-sub-area end -->
    <!-- filter-sub-area start -->
    <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
        <h5 class="filter-sub-titel">Api-standart</h5>
        <div class="categori-checkbox">
            <ul>
                @foreach (var item in Model.Apis)
                {
                    <li>
                        <a data-id="@item.Id" data-entity-type="apis">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- filter-sub-area end -->
</div>
<!--sidebar-categores-box end  -->
<!-- category-sub-menu start -->
