@model SearchPanelViewModel

<!--sidebar-categores-box start  -->
<div class="sidebar-categores-box mt-sm-30 mt-xs-30">
    <div class="sidebar-title">
        <h2>Laptop</h2>
    </div>
    <!-- category-sub-menu start -->
    <div class="category-sub-menu">
        <ul>
            <li class="has-sub">
                <a href="# ">Prime Video</a>
                <ul>
                    <li><a href="#">All Videos</a></li>
                    <li><a href="#">Blouses</a></li>
                    <li><a href="#">Evening Dresses</a></li>
                    <li><a href="#">Summer Dresses</a></li>
                    <li><a href="#">T-Rent or Buy</a></li>
                    <li><a href="#">Your Watchlist</a></li>
                    <li><a href="#">Watch Anywhere</a></li>
                    <li><a href="#">Getting Started</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="#">Computer</a>
                <ul>
                    <li><a href="#">TV & Video</a></li>
                    <li><a href="#">Audio & Theater</a></li>
                    <li><a href="#">Camera, Photo</a></li>
                    <li><a href="#">Cell Phones</a></li>
                    <li><a href="#">Headphones</a></li>
                    <li><a href="#">Video Games</a></li>
                    <li><a href="#">Wireless Speakers</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="#">Electronics</a>
                <ul>
                    <li><a href="#">Amazon Home</a></li>
                    <li><a href="#">Kitchen & Dining</a></li>
                    <li><a href="#">Bed & Bath</a></li>
                    <li><a href="#">Appliances</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- category-sub-menu end -->
</div>
<!--sidebar-categores-box end  -->
<!--sidebar-categores-box start  -->
<div class="sidebar-categores-box">
    <div class="sidebar-title">
        <h2>Filter By</h2>
    </div>
    <!-- btn-clear-all start -->
    <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button>
    <!-- btn-clear-all end -->
    <!-- filter-sub-area start -->
    <div class="filter-sub-area">
        <h5 class="filter-sub-titel">Kateqoriya</h5>
        <div class="categori-checkbox">
            <ul>
                @foreach (var item in Model.Categories)
                {
                    <li>
                        <a data-id="@item.Id" data-entity-type="categories">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="filter-sub-area">
        <h5 class="filter-sub-titel">Brand</h5>
        <div class="categori-checkbox">
            <ul>
                @foreach (var item in Model.Brands)
                {
                    <li>
                        <a data-id="@item.Id" data-entity-type="brands">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="filter-sub-area">
        <h5 class="filter-sub-titel">Price</h5>
        <div class="categori-checkbox">
            <div id="price-range" data-price-min="@Model.Min" data-price-max="@Model.Max"></div>
        </div>
    </div>
    <!-- filter-sub-area end -->
    <!-- filter-sub-area start -->
    <div class="filter-sub-area pt-sm-10 pt-xs-10">
        <h5 class="filter-sub-titel">Novleri</h5>
        <div class="categori-checkbox">
            <ul>
                @foreach (var item in Model.Types)
                {
                    <li>
                        <a data-id="@item.Id" data-entity-type="types">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- filter-sub-area end -->
    <!-- filter-sub-area start -->
    <div class="filter-sub-area pt-sm-10 pt-xs-10">
        <h5 class="filter-sub-titel">Viscosity</h5>
        <div class="size-checkbox">
            <ul>
                @foreach (var item in Model.Viscosities)
                {
                    <li>
                        <a data-id="@item.Id" data-entity-type="viscosities">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- filter-sub-area end -->
    <!-- filter-sub-area start -->
    <div class="filter-sub-area pt-sm-10 pt-xs-10">
        <h5 class="filter-sub-titel">Liter</h5>
        <div class="color-categoriy">
            <ul>
                @foreach (var item in Model.Liters)
                {
                    <li>
                        <a data-id="@item.Id" data-entity-type="liters">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- filter-sub-area end -->
    <!-- filter-sub-area start -->
    <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
        <h5 class="filter-sub-titel">Api-standart</h5>
        <div class="categori-checkbox">
            <ul>
                @foreach (var item in Model.Apis)
                {
                    <li>
                        <a data-id="@item.Id" data-entity-type="apis">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- filter-sub-area end -->
</div>
<!--sidebar-categores-box end  -->
<!-- category-sub-menu start -->
<div class="sidebar-categores-box mb-sm-0 mb-xs-0">
    <div class="sidebar-title">
        <h2>Laptop</h2>
    </div>
    <div class="category-tags">
        <ul>
            <li><a href="# ">Devita</a></li>
            <li><a href="# ">Cameras</a></li>
            <li><a href="# ">Sony</a></li>
            <li><a href="# ">Computer</a></li>
            <li><a href="# ">Big Sale</a></li>
            <li><a href="# ">Accessories</a></li>
        </ul>
    </div>
    <!-- category-sub-menu end -->
</div>
