@model MotorOil.Domain.Models.Entities.ProductCatalogItem

@{
    ViewData["Title"] = "Ətraflı";
}





<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h1>Ətraflı</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="Dashboard" asp-action="index">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-action="index">Kataloq</a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <span>Ətraflı</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<!-- Page-body start -->
<div class="page-body">
    <!-- Horizontal-border table start -->
    <div class="card">
        <div class="card-header">
            <div class="card-header-right">
                <i class="icofont icofont-spinner-alt-5"></i>
            </div>

        </div>
        <div class="card-block">
            <div>
                <div class="form-group row">
                    <label asp-for="Product" class="col-sm-2 col-form-label">Məhsul Adı</label>
                    <div class="col-sm-10">
                       <p class="form-control">
                           @Model.Product.Name
                       </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ProductViscosity" class="col-sm-2 col-form-label">Məhsul Adı</label>
                    <div class="col-sm-10">
                       <p class="form-control">
                           @Model.ProductViscosity.Name
                       </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ProductLiter" class="col-sm-2 col-form-label">Məhsul Adı</label>
                    <div class="col-sm-10">
                       <p class="form-control">
                           @Model.ProductLiter.Name
                       </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ProductApi" class="col-sm-2 col-form-label">Məhsul Adı</label>
                    <div class="col-sm-10">
                       <p class="form-control">
                           @Model.ProductApi.Name
                       </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ProductType" class="col-sm-2 col-form-label">Məhsul Adı</label>
                    <div class="col-sm-10">
                       <p class="form-control">
                           @Model.ProductType.Name
                       </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="CreatedDate" class="col-sm-2 col-form-label">Tarix</label>
                    <div class="col-sm-10">
                       <p class="form-control">
                           @Model.CreatedDate
                       </p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 d-flex justify-content-end">
                        @if (User.HasAccess("admin.productcatalog.edit"))
                        {
                        <a asp-action="Edit" class="btn btn-warning mr-2" asp-route-id="@Model.Id">Redaktə</a>
                        }
                        <a asp-action="Index" class="btn btn-info">Geri</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Horizontal-border table end -->
</div>
<!-- Page-body end -->