@model PagedViewModel<ProductCatalogItem>

@{
    ViewData["Title"] = "Kataloq";
}

@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Məhsul
            </th>
            <th>
               Özlülük
            </th>
            <th>
                Litr
            </th>
            <th>
                Api standart
            </th>
            <th>
                Növü
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductViscosity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductLiter.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductApi.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@


<!-- Page-header start -->
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h1>Kataloq</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="Dashboard" asp-action="index">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <span>Kataloq</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<!-- Page-body start -->
<div class="page-body">
    <!-- Horizontal-border table start -->
    <div class="card">
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Məhsul
                            </th>
                            <th>
                                Uyğunluq
                            </th>
                            <th>
                                Litr
                            </th>
                            <th>
                                Api standart
                            </th>
                            <th>
                                Növü
                            </th>
                            <th class="operations">
                                @if (User.HasAccess("admin.productcatalog.create"))
                                {
                                    <a asp-action="Create" class="btn btn-sm btn-primary">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                }
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <partial name="_ListBodyProductCatalog" model="@Model" />
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12">
                <div class="li-paginatoin-area text-center pt-25">
                    <div class="row">
                        <div class="col-lg-12">
                            @Model.GetPager(Url,"Index","Admin")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Horizontal-border table end -->
    @Html.AntiForgeryToken()
</div>
<!-- Page-body end -->


@section addcss{
<link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />
<style>
    th.operations i,
    td.operations i {
        margin: 0;
    }

    th.operations,
    td.operations {
        max-width: 148px;
        width: 148px;
        text-align: right;
        color: #fff;
    }
</style>
}


@section addjs {
<script src="~/libs/sweetalert/sweetalert.min.js"></script>
<script src="~/libs/toastr.js/toastr.min.js"></script>
<script src="~/libs/toastr.js/toastr.customize.js"></script>


<script class="removeable">
    function removeEntity(id,name) {
        swal({
             title: "Diqqet",
             text: `Eminsiniz ki.. '${name}' silinsin ?`,
             icon: "warning",
             buttons: true,
             dangerMode: true,
             buttons: ["Xeyr", "Beli"],
            })
            .then((value) => {
                if (value == true) {

                    let vToken = $('[name=__RequestVerificationToken]').val();

                    let formData = new FormData();

                    formData.set('__RequestVerificationToken',vToken);
                    formData.set('id',id);

                    $.ajax({
                        url: `@Url.Action("Delete")`,
                        type: 'POST',
                        data: formData,
                        contentType:false,
                        processData:false,
                        success: function(response) {
                              console.log(response);

                              if (response.error == true)
                              {
                                  toastr.error(response.message);
                                  return;
                              }

                              location.reload();

                        },
                        error: function(errorResponse) {
                              console.error(errorResponse);
                        }
                    });
                }
            });
    }
</script>

}

