@model IEnumerable<BlogPost>

@{
    ViewData["Title"] = "Postlar";
}




<!-- Page-header start -->
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h1>Postlar</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="Dashboard" asp-action="index">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <span>Postlar</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<!-- Page-body start -->
<div class="page-body">
    <!-- Horizontal-border table start -->
    <div class="card">
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-imaged">
                    <thead>
                        <tr>
                            <th>
                                Şəkil
                            </th>
                            <th>
                                Başlıq
                            </th>
                            <th>
                                Mətn
                            </th>
                            <th>
                                Tarix
                            </th>
                            <th class="operations">
                                @if (User.HasAccess("admin.blogposts.create"))
                                {
                                    <a asp-action="Create" class="btn btn-sm btn-primary">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                }
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="image-cell">
                                    @if (!string.IsNullOrWhiteSpace(item.ImagePath))
                                    {
                                        <img src="~/uploads/images/@item.ImagePath" class="img-fluid" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td class="ellipse">
                                    @item.Body.ToPlainText()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PublishedDate)
                                </td>
                                <td class="operations">
                                    @if (User.HasAccess("admin.blogposts.edit"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                                            <i class="fa-solid fa-pencil"></i>
                                        </a>
                                    }
                                    @if (User.HasAccess("admin.blogposts.details"))
                                    {
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                                            <i class="fa fa-circle-info"></i>
                                        </a>
                                    }
                                    @if (User.HasAccess("admin.blogposts.remove"))
                                    {
                                        <a class="btn btn-sm btn-danger" onclick="removeEntity(@item.Id,'@item.Title')">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Horizontal-border table end -->
    @Html.AntiForgeryToken()
</div>
<!-- Page-body end -->
@section addcss{
<link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />
<style>
    /*th.operations i,
        td.operations i {
            margin: 0;
        }

        th.operations,
        td.operations {
            max-width: 148px;
            width: 148px;
            text-align: right;
            color: #fff;
        }
        .table-imaged td{
            vertical-align: middle;
        }
        .table-imaged td.image-cell{
            min-width: 100px;
            max-width: 120px;
        }
        .table-imaged td > img{
            max-width: 100%;
            height: auto;
            max-height: 50px;
        }*/
</style>
}


@section addjs {
<script src="~/libs/sweetalert/sweetalert.min.js"></script>
<script src="~/libs/toastr.js/toastr.min.js"></script>
<script src="~/libs/toastr.js/toastr.customize.js"></script>




<script class="removeable">
    function removeEntity(id,name) {
        swal({
             title: "Diqqet",
             text: `Eminsiniz ki.. '${name}' silinsin ?`,
             icon: "warning",
             buttons: true,
             dangerMode: true,
             buttons: ["Xeyr", "Beli"],
            })
            .then((value) => {
                if (value == true) {

                    let vToken = $('[name=__RequestVerificationToken]').val();

                    let formData = new FormData();

                    formData.set('__RequestVerificationToken',vToken);
                    formData.set('id',id);

                    $.ajax({
                        url: `@Url.Action("Delete")`,
                        type: 'POST',
                        data: formData,
                        contentType:false,
                        processData:false,
                        success: function(response) {
                              console.log(response);

                              if (response.error == true)
                              {
                                  toastr.error(response.message);
                                  return;
                              }

                              location.reload();

                        },
                        error: function(errorResponse) {
                              console.error(errorResponse);
                        }
                    });
                }
            });
    }
</script>
}